.container-fluid{
    min-height: 1000px;
}
.navbar-header img{
	position: relative;
}
.body{
	margin: 70px 0 0 0;
}
.search-form{
    width: 100%;
}
.id{
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.user{
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.body-left{
    height: auto;
	background-color: rgb(237, 252, 244);
}
.body-left-content {
	display: inline-block;
	background-color: #fff;
	height: 520px !important;
	margin: 20px 7px 10px 0;
	border: 1px solid rgb(237, 237, 237);
	padding: 15px;
	min-width: 350px;
}

.body-left-content img{
	height: 290px;
	width: 95%;
	background-size: cover;
	background-position: center;

}
.small-position{
	position: absolute;
}
.small-date{
	width: 70px;
}
.small-date h1{
	background-color: #3e77ff;
	padding: 4px;
	color: #fff;
	margin: 0;
}
.small-date h4{
	background-color: white;
	padding: 4px;
	color: gray;
	margin: 0 auto;
	width: 100%;
	height: 30px;
	display: inline-block;
	font-size: 22px;
}
.body-left-content h3{
	font-weight: bold;
}
.body-left-content p{
	font-size: 17px;
}
.add_blog{
	background-color: #1aa7ff;
	padding: 12px;
	width: 100px !important;
	border-radius: 25px;
	box-shadow: 1px 1px 2px 1px #222222;
	cursor: pointer;
	color: ghostwhite !important;
}
.add_blog:hover{
	background-color: #1a87d5;
	text-decoration: none !important;
}
.blog-foot{
	margin: 0 0 0 50px;
	border: 1px solid #3e77ff;
	padding: 0 0 0 20px;
	width: 70%;
}
.blog-foot>span{
	padding: 0 20px 0 5px;
	color: #3254a1;
}
.foot_text{
    padding-right: 0 !important;
}
#q{
	padding: 10px;
	width: 50%;
	border-radius: 30px;
	border: 1px solid #dfdfdf;
	margin: 20px 0 0 30px;
}
#submit{
	position: relative;
	right: 265px;
	opacity: .3;
}
.no-blog{
    text-align: center;
    font-size: 30px;
    margin: 200px 0  0 0;
    color: rgb(146, 146, 146);
}

@media screen and (min-width: 736px) and (max-width: 780px){
    .body-left-content{
        width: 390px;
    }
    #q{
        width: 350px;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px){
    #submit{
        right: 0;

    }
}