
.header-img{
    background-image: url(../img/Nature.jpg);
    height: 270px;
    margin-bottom: 30px;
}
.header-img h1{
    margin: 0 auto;
    padding: 10px 0 10px 0;
    text-align: center;
    color: ghostwhite;
    font-style: normal;
    position: relative;
    top: 110px;
}
.container-fluid{
    min-height:1000px;
    padding: 0;
}
nav>ul>li{
    cursor: pointer;
}
.breadcrumbs{
    color: gray;
    font-size: 15px;
    padding-left: 20px;
}
.breadcrumbs>small{
    padding: 10px;
}
.gal-header{
    text-align: center;
}
.gal-container{
    padding:30px;
    overflow: hidden;
}
.gal-img-cont{
    float: left;
    margin: 20px;
}

.landscape{
    width: 270px;
    height: 160px;
    overflow: hidden;
    border-radius: 4px;
}
.landscape>a>img{
    width: 100%;
}
.portrait{
    width: 200px;
    height: 270px;
    overflow: hidden;
    border-radius: 4px;
}
.portrait>a>img{
    width: 100%;
}
.option{
    font-size: 20px;
    text-align: center;
}
.player{
    background-color: #525252;
    height: auto;
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
}
.a-player{
   height: auto;
    width: 80%;
    margin: 0 auto;
    background-color: #525252;
}
.a-player>audio{
    width: 100%;
    margin: 30px 0;
}
.player>video{
    width: 100%;
}
hr{
    border-top:1px solid rgba(51, 82, 39, 0.37);
}
.video1{
     width: 250px;
    display: inline;
}
.video{
    width: 250px;
    height: 160px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}
.video>img{
    width: 100%;
}
.video>i{
    font-size: 70px;
    position: absolute;
    color: rgba(220, 220, 220, 0.75);
    top: 50px;
    left: 100px;
}