.login_form_container{
	min-height: 300px;
    margin-top: 200px;
}
#form{
	width: 700px;
	margin:  0 auto 0 auto;
}
#id_username, #id_password,#id_password2,#id_email{
	width: 500px;
	display: block;
	height: 37px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	padding: 10px;
}
#id_content::-webkit-scrollbar{
    width: 7px;
    color: #205067;
    display: block;
    opacity: 1;
}
.form>#id_content{
	width: 82%;
    height: 100px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	padding: 10px;
	display: block;
    margin: 0 auto;
}
#submit{
	background-color: #1aa7ff;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin: 20px 0 0 200px;
	padding: 10px;
	color: ghostwhite;
}
.submit-comment{
	background-color: #1aa7ff;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin: 20px auto 0 40%;
	padding: 10px;
	color: ghostwhite;
    display: none;
}
.errorlist{
	clear: both;
	background-color: rgba(255, 199, 209, 0.47);
	list-style-type: none;
	padding: 6px;
	border-radius: 3px;
	border:1px solid rgba(255, 0, 0, 0.52);
	margin-bottom: 5px;
	
}
input{
	margin: 0 0 10px 0;
}
@media screen and (max-width: 380px) and (min-width: 32px){
    #id_username,#id_password,#id_email,#id_password2{
        width: 90%;
    }
    #submit{
        margin: 20px 0 0 50px;
    }
}