.header-img{
	background-image: url(../img/Nature.jpg);
	height: 270px;
}
.header-img h1{
	margin: 0px auto;
	padding: 10px 0 10px 0;
	text-align: center;
	color: ghostwhite;
	font-style: normal;
	position: relative;
	top: 110px;
}

.about-top-container{
}
.body{
	background-color: rgba(155, 241, 196, 0.09);
}
.about-top{
	width: 90%;
	margin: 0 auto;
	color: rgba(129, 129, 129, 1) !important;
}
.about-top-2{
	width: 90%;
	margin: 0 auto;
	color: rgba(129, 129, 129, 1) !important;
	background-color: rgba(155, 241, 196, 0.21);
}
.about-top>h1{
	text-align: center;
	margin-top: 0;
}
.about-top>img{
	float: left;
	border: 2px solid cadetblue;
	border-radius: 10px;
	margin: 0 20px;
}
.about-top>p {
	font-size: 20px;
	margin-bottom: 0;
}
.middle-nav{
	background-color: rgba(116, 190, 255, 0.23);
	border-bottom: 2px solid rgba(116, 190, 255, 0.55);
	border-top: 2px solid rgba(116, 190, 255, 0.55);

}
.middle-nav p {
	text-align: center;
	font-size: 17px;
	color: rgb(58, 58, 58) !important;
	padding: 2px;
}
.exec-list{
    margin: 5px auto;
}
.exec-list li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    border: 3px solid #5da8ff;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
    margin: 0 30px 0 30px;
}
.about-middle{
	border-bottom: 1px solid rgba(235, 235, 235, 0.61);
	background-color: rgba(155, 241, 196, 0.09);
}
.about-middle>h1{
	text-decoration: underline;
	font-size: 22px;
	font-weight: bold;
}
.about-middle>p{
	font-size: 19px;
}
