body{
	background: ghostwhite;
}
.header-img{
	background-image: url(../img/Nature.jpg);
	height: 270px;
}
.header-img h1{
	margin: 0 auto;
	padding: 10px 0 10px 0;
	text-align: center;
	color: ghostwhite;
	font-style: normal;
	position: relative;
	top: 110px;
}
.bg-success {
    background-color: #c3f5af;
    border-right: 2px solid #3fe13b;
    border-left: 2px solid #3fe13b;
    border-bottom: 2px solid #3fe13b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.success{
    width: 90%;
    height: 80px !important;
    margin: 0 auto;
    display: none;
}
.success-msg{
    margin: 0 auto;
    text-align:center;
    padding:10px 0 0 0 ;
}
.form{

}
.contact-form{
	margin: 70px 0 70px 0;
	padding: 50px;
	height: auto;
	background-color: rgb(237, 252, 244);
	border-radius: 3px;
}
.form-group input{
	border-radius: 1px;
	height: 50px;
	border: 2px solid #3e77ff;
	background: #f2f2f2;
	outline: none;
}
.form-group input:hover,.form-group input:focus{
	border-color: #3e77ff;
	background-color: white;
}
.form-group textarea{
	border-radius: 1px;
	border: 2px solid #3e77ff;
	background-color: #f2f2f2;
	outline: none;
}
.form-group textarea:hover,.form-group textarea:focus{
	background-color: white;
}
input[type=submit]{
	border: 2px solid #3e77ff !important;
	background: #3e77ff;
    border-radius:5px;
	color: #fff;
}
input[type=submit]:hover, input[type=button]:focus{
	background: #396ce1;
}
.right-contact-form{
	margin: 70px 0 70px 0;
	padding: 50px;
	height: auto;
	border-radius: 0;
	border-left: 5px solid #3e77ff;
}
.social-contact-icon {
	font-size: 50px !important;
	color: #427bff;
	padding: 0 40px 70px 40px;
	border-bottom: 1px solid #ededed;
    cursor: pointer;
}
.social-contact-icon:hover{
    color: #23458c;
    cursor: pointer;

}
.physical-contact{
	padding: 50px 40px 70px 40px;
}
.physical-contact p{
	font-size: 20px;
}
.email{
	text-align: center;
	margin: 30px 0 0 0;
    font-size: 30px !important;
}

.glyphicon-envelope:before{
    color: #427bff;
}
.phone{
	text-align: center;
	margin: 30px 0 0 0;
    font-size: 30px !important;
}
.fa-phone:before{
    color: #427bff;
}