{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} RI |Blogs | {{ instance.title }}  {% endblock %}
{% block blog_style %}<link rel="stylesheet"  href="{% static  'css/project.css' %}">{% endblock %}
{% block blog_style1 %}{% endblock %}
{% block header_name %}<h1>Up Coming Events</h1>{% endblock %}
{% block middle %}
        <div class="row project">
            <div class="col-md-10 col-md-offset-1 calendar-body">
                <a href="/events/p" class="prev-month"><b>&lsaquo;</b></a> <!--<a href="december-2016.html" class="next-month"><b>&rsaquo;</b></a>
                <div class="month-name">
                    <p>December 2016</p>
                </div>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td class="national-day">2<p><b>Farmer's Day</b></p></td>
                            <td>3</td>
                            <td class="event-day">4<p><b>Rehearsal</b></p></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td class="event-day"><a href="rehearsal-23.html">16<p><b>Rehearsal</b></p></a></td>
                            <td>17</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td class="national-day">25<p><b>Christmas</b></p></td>
                        </tr>
                        <tr>
                            <td class="national-day">26<p><b>Boxing Day</b></p></td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td class="event-day">31<p><b>Crossover</b></p></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
 {% endblock %}