{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} RI |Blogs | {{ instance.title }}  {% endblock %}
{% block blog_style %}<link rel="stylesheet"  href="{% static  'css/project.css' %}">{% endblock %}
{% block blog_style1 %}{% endblock %}
{% block header_name %}<h1>Up Coming Events</h1>{% endblock %}
{% block middle %}
        <div class="row project">
            <div class="col-md-10 col-md-offset-1 calendar-body">
                <a href="/events/" class="prev-month"><b>&lsaquo;</b></a> <!--<a href="/events/n" class="next-month"><b>&rsaquo;</b></a>-->
                <div class="month-name">
                    <p>February 2017 </p>
                </div>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>28</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
 {% endblock %}