{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Reconcilers Int |About {% endblock %}
{% block blog_style %}<link rel="stylesheet"  href="{% static  'css/about.css' %}">{% endblock %}
{% block blog_style1 %}{% endblock %}
{% block header_name %}<h1>Up Coming Events</h1>{% endblock %}
{% block middle %}
			<div class="row body">
				<div class="col-md-12 about-top-container">
					<div class="about-top">
						<h1>From Our President</h1>
						<img src="{% static  'img/passport.png' %}" alt=""/>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto, beatae commodi consectetur consequatur cupiditate, itaque iusto nam nihil quae, quo sequi sunt suscipit veritatis voluptatem. Aliquid animi atque aut culpa error eveniet in neque sunt tempore, voluptas. Assumenda, consequuntur ea enim harum illo iure libero molestias mollitia pariatur quod ratione reiciendis reprehenderit tempora! Ad cum dignissimos esse et, ex iste minus, neque, odit praesentium reiciendis voluptas voluptatibus voluptatum? Amet dolorem facere libero nam nemo sequi veritatis voluptas. Consequatur cupiditate eum inventore labore laborum magni, quibusdam repellat unde vel. Adipisci dolore enim itaque officia perspiciatis quam, quos tempora vel voluptatem?</p>
					</div>
				</div>
				<div class="col-md-12 middle-nav">
                    <div class="executives">
                        <ul class="exec-list">
                            <li> <img src="{% static  'img/passport.png' %}" alt=""/></li>
                            <li> <img src="{% static  'img/passport.png' %}" alt=""/></li>
                            <li> <img src="{% static  'img/passport.png' %}" alt=""/></li>
                            <li> <img src="{% static  'img/passport.png' %}" alt=""/></li>
                            <li> <img src="{% static  'img/passport.png' %}" alt=""/></li>
                         </ul>
                    </div>
                </div>
				<div class="about-top-2">
					<div class="col-md-12 about-middle">
						<h1>What is Reconcilers International</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis, commodi consectetur debitis dolorem ducimus eligendi eveniet, expedita hic iste natus, nisi quas sint veniam vero! A animi deleniti ea eligendi eveniet facere facilis, fugit illo optio quod repellendus soluta.</p>
					</div>
					<div class="col-md-12 about-middle">
						<h1>Who is a Reconciler</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam assumenda atque consequatur consequuntur cupiditate, dolorem eligendi et facere fugit hic impedit ipsam iusto laudantium magni officia optio perspiciatis provident quasi quibusdam quo, quod ratione sapiente sed tempora ullam voluptatem?</p>
					</div>
					<div class="col-md-12 about-middle">
						<h1>Our Goals</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores aut beatae, consequatur cupiditate deleniti dolore dolorem ea error expedita harum id incidunt minus nemo neque, nisi nostrum praesentium quae quis sapiente sint, suscipit veritatis! Architecto ipsa natus provident repellendus.</p>
					</div>
					<div class="col-md-12 about-middle">
						<h1>Our Achievements</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci dolores facilis ipsa itaque quia sint? Aliquam consequatur, consequuntur corporis dolor doloribus expedita, facere fugit ipsam magni molestias mollitia natus, recusandae sunt unde vel. Debitis distinctio maiores reiciendis repellendus tempore.</p>
					</div>
				</div>

			</div>
		{% endblock %}